body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
/* 
.PrivateValueLabel-circle-234 {
  width: 4rem;
  background-color: transparent;
}

.PrivateValueLabel-label-235 {
  color: #000;
} */
